.fc {
	overflow: auto;
	h2 {
		@extend .h4;
		margin-top: ($spacer / 2);
		margin-bottom: ($spacer / 2);
	}

	button {
		@extend .btn;
		height: auto;
		font-size: 1em;
	}

}

.fc-view-container {
	min-width: 35rem;
}

.fc-scroller {
	min-height: 50vh;
}

.fc-state-default {
	background-image: none;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	text-shadow: none;
	box-shadow: none;
	@extend .btn-secondary;
}
.fc-button-group button {
	border-radius: 0;
}
.fc-state-default.fc-corner-left {
	border-top-left-radius: $border-radius;
	border-bottom-left-radius: $border-radius;
}

.fc-header-toolbar {
	display: none;
}

.fc-head {
	th,td,.fc-row {
		border-top-color: transparent !important;
		border-left-color: transparent !important;
		border-right-color: transparent !important;
	}
}

.fc .fc-day-header {
	color: $gray-500;
	text-align: left;
	line-height: 1.2;
	padding-bottom: .5rem;
	font-weight: $font-weight-normal;
	font-size: $font-size-base * .75;
}

.fc-body {
	background: $white;

	.fc-divider.fc-widget-header {
		display: none;
	}
}

.fc-axis.fc-time {
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	background: $body-bg;
	color: $gray-500;
	line-height: 1.2;
	font-weight: $font-weight-normal;
	font-size: $font-size-base * .75;
}

.fc-time-grid .fc-slats td {
	height: 2em;
	vertical-align: top;
}

.fc-event {
	font-size: $font-size-base * .74;
	padding: .25rem;
	border-radius: 0;
	border-width: 0 0 0 .25rem;
}

.fc-event .fc-bg {
	opacity: .7;
}

.fc-time-grid-event .fc-time {
	font-weight: $font-weight-bold;
}

.fc-today-button {
	padding-left: 2.6em !important;
	background-repeat: no-repeat;
	background-size: 1.4em auto;
	background-position: .5em center;
	background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='#{$white}' d='M560 608v160h208v-160h-208zM560 608v160h208v-160h-208zM560 608v160h208v-160h-208z M870.4 102.4h-102.4v-83.2c0-10.56-8.64-19.2-19.2-19.2h-64c-10.56 0-19.2 8.64-19.2 19.2v83.2h-307.2v-83.2c0-10.56-8.64-19.2-19.2-19.2h-64c-10.56 0-19.2 8.64-19.2 19.2v83.2h-102.4c-56.32 0-102.4 46.080-102.4 102.4v716.8c0 56.48 45.92 102.4 102.4 102.4h716.8c56.48 0 102.4-45.92 102.4-102.4v-716.8c0-56.48-45.92-102.4-102.4-102.4zM870.4 921.6h-716.8v-614.4h716.8v614.4z'/%3E%3C/svg%3E"), "#", "%23");
	&:hover {
		background-size: 1.4em auto;
	}
}

.fc-time-grid .fc-slats .fc-minor td {
	border-color: transparent;
}

div.fc-widget-header {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.fc .fc-axis {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 1px;
		z-index: 999;
		background: $light;
	}
}

.fc-view-container {
	margin-left: -33px;
}

.fc-body>tr>.fc-widget-content {
	border-color: transparent;
}
