.nav-tabs {

	.nav-link {
		color: $dark;
		padding-left: $nav-link-padding-x * 2;
		padding-right: $nav-link-padding-x * 2;
	}

	@include media-breakpoint-down('sm') {
		border: 0;
		margin-left: -.25rem;
		margin-right: -.25rem;
		.nav-item {
		    flex: 1 1 auto;
		    text-align: center;
		    padding: .25rem;
		}
		.nav-link {
			border-color: $dark;
			border-radius: $border-radius;
		}
	}

}

.nav-steps {

	.nav-item:first-child {
		.nav-step {
			&::before {
				background: transparent;
			}
		}
	}

	.nav-item:last-child {
		.nav-step {
			&::after {
				background: transparent;
			}
		}
	}

	.nav-link {
		text-align: center;
		color: $body-color;
		@include media-breakpoint-down('sm') {
			font-size: $font-size-sm;
			padding-left: ($spacer / 2);
			padding-right: ($spacer / 2);
		}
		&:hover {
			color: $primary;
		}
	}

}
.nav-step {

	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -$nav-link-padding-x;
	margin-right: -$nav-link-padding-x;
	margin-bottom: ($spacer * .5);

	@include media-breakpoint-down('sm') {
		margin-left: -($spacer / 2);
		margin-right: -($spacer / 2);
	}

	&::before,
	&::after {
		content: '';
		display: block;
		height: 1px;
		flex: 1 1 auto;
		background: $primary;
	}

}
.nav-bull {

	display: block;
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid $primary;
	border-radius: .75rem;

	.nav-item.active &,
	.nav-link.active & {
		background: $primary;
	}

}


.nav-header {

	.nav-item {
		margin-left: -1px;
	}

	.nav-link {
		border: 1px solid $white;
		color: $white;
		padding: .4rem .75rem;
		font-size: $font-size-sm;
	}

	.active .nav-link,
	.nav-link.active {
		color: $body-color;
		background: $white;
	}

}

.nav-tabs-header {

	.nav-item {
		padding: 0;
	}

	.nav-link,
	.nav-link.show {
		color: $white;
		border-color: $gray-600 !important;
		border-bottom: 0;
		border-radius: 0;
		margin-right: -1px;
	}

}