@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		.rounded#{$infix} {
			border-radius: $border-radius!important;
		}

		.rounded-top#{$infix} {
			border-top-left-radius: $border-radius!important;
			border-top-right-radius: $border-radius!important;
			border-bottom-left-radius: 0!important;
			border-bottom-right-radius: 0!important;
		}

		.rounded-bottom#{$infix} {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: $border-radius!important;
			border-bottom-right-radius: $border-radius!important;
		}

		.rounded-right#{$infix} {
			border-top-right-radius: $border-radius!important;
			border-bottom-right-radius: $border-radius!important;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		.rounded-left#{$infix} {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-top-left-radius: $border-radius!important;
			border-bottom-left-radius: $border-radius!important;
		}
	}
}