{% extends 'layout/layout.html' %}

{% block content %}

{% include "part/header.html" %}

<div class="bg-dark pt-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mb-3">
				<div class="d-lg-flex flex-wrap justify-content-between">
					<div class="d-flex">
						<button class="btn btn-secondary btn-calendar-today text-dark d-inline-flex align-items-center mr-2 mr-md-5" data-calendar="today">
							<svg role="img" class="icon-calendar h5 mb-0 mr-sm-2">
								<use xlink:href="#icon-calendar"></use>
							</svg>
							<span class="d-none d-sm-block">Dnes</span>
						</button>
						<button class="btn btn-secondary text-black d-inline-flex align-items-center ml-auto py-0 px-1 p-md-2" data-calendar="prev" aria-label="Předchozí kalendář">
							<svg role="img" class="icon-arrow-left small">
								<use xlink:href="#icon-arrow-left"></use>
							</svg>
						</button>
						<input class="form-control form-control-calendar-today border-light text-black text-center w-auto mx-2 p-0 p-md-2" type="text" data-calendar="title" readonly disabled>
						<button class="btn btn-secondary text-black d-inline-flex align-items-center mr-auto py-0 px-1 p-md-2" data-calendar="next" aria-label="Další kalendář">
							<svg role="img" class="icon-arrow-right small">
								<use xlink:href="#icon-arrow-right"></use>
							</svg>
						</button>
						<button class="btn btn-secondary btn-calendar-today text-dark d-inline-flex d-lg-none align-items-center ml-2" aria-label="Přidat">
							<svg role="img" class="icon-plus h5 mb-0">
								<use xlink:href="#icon-plus"></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
			<div class="col-6 d-none d-lg-flex justify-content-end align-items-end mb-3 order-1">
				<a href="#" class="btn btn-secondary d-inline-flex align-items-center py-1 pl-1">
					<svg role="img" class="icon-database-multiple lead mx-2">
						<use xlink:href="#icon-database-multiple"></use>
					</svg>
					20&nbsp;<small>lekcí</small>
					<span class="btn btn-sm btn-dark ml-2 p-0 px-1"><small>Koupit kredit</small></span>
				</a>
			</div>
			<div class="col-lg-6 col-xl-4 d-none d-lg-flex align-items-end order-2">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a href="#" class="nav-link bg-light px-3">Jezdecký park</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link text-white px-3">Jízdárna</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link text-white px-3">Pony šklička</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-6 col-xl-5 d-none d-lg-flex justify-content-end align-items-end mb-0 order-3">
				<div class="d-flex flex-wrap justify-content-center align-items-center bg-secondary text-white rounded rounded-top-lg small px-2 py-1">
					<div class="d-inline-flex small my-1 mx-2">
						<span class="fc-event bg-danger-light border-danger pl-2 py-2 mr-1"></span>
						Časové preference
					</div>
					<div class="d-inline-flex small my-1 mx-2">
						<span class="fc-event bg-success-light border-success pl-2 py-2 mr-1"></span>
						Obtížnost I
					</div>
					<div class="d-inline-flex small my-1 mx-2">
						<span class="fc-event bg-info-light border-info pl-2 py-2 mr-1"></span>
						Obtížnost II
					</div>
					<div class="d-inline-flex small my-1 mx-2">
						<span class="fc-event bg-warning-light border-warning pl-2 py-2 mr-1"></span>
						Obtížnost III
					</div>
				</div>
			</div>
		</div>
		<!-- start mobile -->
		<ul class="nav nav-tabs nav-fill nav-tabs-header d-lg-none">
			<li class="nav-item">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Jezdcký park</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Separated link</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Všechny kurzy</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Separated link</a>
				</div>
			</li>
		</ul>
		<!-- end mobile -->
	</div>
</div>

<div class="pt-3 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div id="calendar" class="mb-4"></div>
			</div>
			<div class="col-lg-3 pl-1 pt-4 mt-2 d-none d-lg-block">
				<div class="alert alert-dismissible rounded-0 bg-primary text-white py-2 fade show">
					Zobrazený uživatel
					<a class="text-white" href="#"><u>Rybářová Jana</u></a>
					<button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="mb-4">
					<button type="button" class="btn btn-info-light btn-block rounded-0 py-2 m-0 border-bottom border-light d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseChanges" aria-expanded="false" aria-controls="collapseChanges">
						<svg role="img" class="icon-switch lead mr-3 my-1">
							<use xlink:href="#icon-switch"></use>
						</svg>
						<span class="mr-auto">Změny v kurzech</span>
						<small class="badge badge-info badge-pill ml-2">8</small>
					</button>
					<div class="collapse bg-white" id="collapseChanges">
						<a href="#" class="btn btn-white d-flex justify-content-between align-items-center text-left rounded-0 lead py-1">
							<div>
								<strong>Admin navrhuje trvalý zápis</strong>
								<br><small><small>st 16:00-17:00 od 22.06 | <span class="text-info text-uppercase">Jízdárna</span></small></small>
							</div>
							<div class="text-muted ml-2">
								<svg role="img" class="icon-arrow-right">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</div>
						</a>
						<div class="row align-items-center bg-light m-0 py-1">
							<div class="col-1 pl-2 pr-0 text-right">
								<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
							</div>
							<div class="col-8 pr-0 pl-2">
								<div>
									<strong class="mr-1">Rybářová Jana</strong>
									<small class="text-muted"><small>Pokročilá</small></small>
								</div>
							</div>
							<div class="col-3 text-right pr-1">
								<button class="btn btn-light text-muted d-inline-flex p-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
						<a href="#" class="btn btn-white d-flex justify-content-between align-items-center text-left rounded-0 lead py-1">
							<div>
								<strong>Admin navrhuje trvalý zápis</strong>
								<br><small><small>st 16:00-17:00 od 22.06 | <span class="text-info text-uppercase">Jízdárna</span></small></small>
							</div>
							<div class="text-muted ml-2">
								<svg role="img" class="icon-arrow-right">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</div>
						</a>
						<div class="row align-items-center bg-light m-0 py-1">
							<div class="col-1 pl-2 pr-0 text-right">
								<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
							</div>
							<div class="col-8 pr-0 pl-2">
								<div>
									<strong class="mr-1">Rybářová Jana</strong>
									<small class="text-muted"><small>Pokročilá</small></small>
								</div>
							</div>
							<div class="col-3 text-right pr-1">
								<button class="btn btn-light text-muted d-inline-flex p-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
						<a href="#" class="btn btn-white d-flex justify-content-between align-items-center text-left rounded-0 lead py-1">
							<div>
								<strong>Admin navrhuje trvalý zápis</strong>
								<br><small><small>st 16:00-17:00 od 22.06 | <span class="text-info text-uppercase">Jízdárna</span></small></small>
							</div>
							<div class="text-muted ml-2">
								<svg role="img" class="icon-arrow-right">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</div>
						</a>
						<div class="row align-items-center bg-light m-0 py-1">
							<div class="col-1 pl-2 pr-0 text-right">
								<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
							</div>
							<div class="col-8 pr-0 pl-2">
								<div>
									<strong class="mr-1">Rybářová Jana</strong>
									<small class="text-muted"><small>Pokročilá</small></small>
								</div>
							</div>
							<div class="col-3 text-right pr-1">
								<button class="btn btn-light text-muted d-inline-flex p-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-info-light btn-block rounded-0 py-2 m-0 border-bottom border-light d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseMessages" aria-expanded="false" aria-controls="collapseMessages">
						<svg role="img" class="icon-envelope lead mr-3 my-1">
							<use xlink:href="#icon-envelope"></use>
						</svg>
						<span class="mr-auto">Zprávy</span>
						<small class="badge badge-info badge-pill ml-2">2</small>
					</button>
					<div class="collapse bg-white" id="collapseMessages">
						<a href="#" class="btn btn-white d-flex justify-content-between align-items-center text-left rounded-0 p-0 m-0">
							<div class="h6 small m-0 p-2">
								<strong>
									Please pay horse lesson. 
									<br>Thank you. Toušková
								</strong>
								<br><small>12.12. 2016 &bull; Jan Novák</small>
							</div>
							<div class="text-muted mx-2">
								<svg role="img" class="icon-arrow-right">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</div>
						</a>
						<hr class="my-0">
						<a href="#" class="btn btn-white d-flex justify-content-between align-items-center text-left rounded-0 p-0 m-0">
							<div class="h6 small m-0 p-2">
								<strong>
									Please pay horse lesson. 
									<br>Thank you. Toušková
								</strong>
								<br><small>12.12. 2016 &bull; Jan Novák</small>
							</div>
							<div class="text-muted mx-2">
								<svg role="img" class="icon-arrow-right">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</div>
						</a>
						<hr class="my-0">
						<a href="#" class="btn btn-white d-flex justify-content-between align-items-center text-left rounded-0 p-0 m-0">
							<div class="h6 small m-0 p-2">
								<strong>
									Please pay horse lesson. 
									<br>Thank you. Toušková
								</strong>
								<br><small>12.12. 2016 &bull; Jan Novák</small>
							</div>
							<div class="text-muted mx-2">
								<svg role="img" class="icon-arrow-right">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</div>
						</a>
					</div>
					<button type="button" class="btn btn-info-light btn-block rounded-0 py-2 m-0 border-bottom border-light d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseNewCustomers" aria-expanded="false" aria-controls="collapseNewCustomers">
						<svg role="img" class="icon-star lead mr-3 my-1">
							<use xlink:href="#icon-star"></use>
						</svg>
						<span class="mr-auto">Noví zákazníci</span>
						<small class="badge badge-info badge-pill ml-2">3</small>
					</button>
					<div class="collapse bg-white" id="collapseNewCustomers">
						<div class="row align-items-center m-0 py-2">
							<div class="col-2 px-2 text-center">
								<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
							</div>
							<div class="col-7 px-0">
								<div>
									<strong>Rybářová Jana</strong>
								</div>
								<div class="text-muted small">
									<span class="badge badge-warning text-uppercase">Čeká</span>
									<small>Pokročilá, +420 777 123</small>
								</div>
							</div>
							<div class="col-3 text-right">
								<button class="btn btn-white text-muted d-inline-flex px-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
						<hr class="my-0">
						<div class="row align-items-center m-0 py-2">
							<div class="col-2 px-2 text-center">
								<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
							</div>
							<div class="col-7 px-0">
								<div>
									<strong>Rybářová Jana</strong>
								</div>
								<div class="text-muted small">
									<span class="badge badge-success text-uppercase">Potvrzeno</span>
									<small>Pokročilá, +420 777 123</small>
								</div>
							</div>
							<div class="col-3 text-right">
								<button class="btn btn-white text-muted d-inline-flex px-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
						<hr class="my-0">
						<div class="row align-items-center m-0 py-2">
							<div class="col-2 px-2 text-center">
								<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
							</div>
							<div class="col-7 px-0">
								<div>
									<strong>Rybářová Jana</strong>
								</div>
								<div class="text-muted small">
									<span class="badge badge-info text-uppercase">Dohodnuto</span>
									<small>Pokročilá, +420 777 123</small>
								</div>
							</div>
							<div class="col-3 text-right">
								<button class="btn btn-white text-muted d-inline-flex px-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
						<hr class="my-0">
						<div class="row align-items-center m-0 py-2">
							<div class="col-2 px-2 text-center">
								<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
							</div>
							<div class="col-7 px-0">
								<div>
									<strong>Rybářová Jana</strong>
								</div>
								<div class="text-muted small">
									<span class="badge badge-warning text-uppercase">Čeká</span>
									<small>Pokročilá, +420 777 123</small>
								</div>
							</div>
							<div class="col-3 text-right">
								<button class="btn btn-white text-muted d-inline-flex px-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-info-light btn-block rounded-0 py-2 m-0 border-bottom border-light d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseLessons" aria-expanded="false" aria-controls="collapseLessons">
						<svg role="img" class="icon-download lead mr-3 my-1">
							<use xlink:href="#icon-download"></use>
						</svg>
						<span class="mr-auto">Nízký počet lekcí</span>
						<small class="badge badge-info badge-pill ml-2">23</small>
					</button>
					<div class="collapse bg-white" id="collapseLessons">
						<div class="bg-light d-flex justify-content-end align-items-center py-1 px-2">
							Zobrazit méně než
							<div class="col-2 pl-0">
								<input class="form-control rounded-0 px-0 text-center mx-2" type="number" value="5">
							</div>
							lekcí
						</div>
						<div class="row align-items-center m-0 py-2">
							<div class="col-2 px-2 text-center">
								<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
							</div>
							<div class="col-7 px-0">
								<div>
									<strong>Rybářová Jana</strong>
								</div>
								<div class="text-muted small">
									<span class="badge badge-warning text-uppercase">Čeká</span>
									<small>Pokročilá, +420 777 123</small>
								</div>
							</div>
							<div class="col-3 text-right">
								<button class="btn btn-white text-muted d-inline-flex px-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
						<hr class="my-0">
						<div class="row align-items-center m-0 py-2">
							<div class="col-2 px-2 text-center">
								<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
							</div>
							<div class="col-7 px-0">
								<div>
									<strong>Rybářová Jana</strong>
								</div>
								<div class="text-muted small">
									<span class="badge badge-success text-uppercase">Potvrzeno</span>
									<small>Pokročilá, +420 777 123</small>
								</div>
							</div>
							<div class="col-3 text-right">
								<button class="btn btn-white text-muted d-inline-flex px-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
						<hr class="my-0">
						<div class="row align-items-center m-0 py-2">
							<div class="col-2 px-2 text-center">
								<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
							</div>
							<div class="col-7 px-0">
								<div>
									<strong>Rybářová Jana</strong>
								</div>
								<div class="text-muted small">
									<span class="badge badge-info text-uppercase">Dohodnuto</span>
									<small>Pokročilá, +420 777 123</small>
								</div>
							</div>
							<div class="col-3 text-right">
								<button class="btn btn-white text-muted d-inline-flex px-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-info-light btn-block rounded-0 py-2 m-0 border-bottom border-light d-flex align-items-center justify-content-between">
						<svg role="img" class="icon-users-remove lead mr-3 my-1">
							<use xlink:href="#icon-users-remove"></use>
						</svg>
						<span class="mr-auto">Aktivní <u>NEUMÍSTNĚNÍ</u></span>
						<small class="badge badge-info badge-pill ml-2">12</small>
					</button>
					<button type="button" class="btn btn-info-light btn-block rounded-0 py-2 m-0 border-bottom border-light d-flex align-items-center justify-content-between">
						<svg role="img" class="icon-users-check lead mr-3">
							<use xlink:href="#icon-users-check"></use>
						</svg>
						<span class="mr-auto">Aktivní <u>UMÍSTNĚNÍ</u></span>
						<small class="badge badge-info badge-pill ml-2">54</small>
					</button>
					<button type="button" class="btn btn-info-light btn-block rounded-0 py-2 m-0 border-bottom border-light d-flex align-items-center justify-content-between">
						<svg role="img" class="icon-database lead mr-3">
							<use xlink:href="#icon-database"></use>
						</svg>
						<span class="mr-auto">Neaktivní zákazníci</span>
						<small class="badge badge-info badge-pill ml-2">120</small>
					</button>
				</div>
				<div class="mb-4">
					<button class="btn btn-link" data-toggle="modal" data-target="#selectModal">Vyberte typ lekce (modal)</button>
					<br>
					<button class="btn btn-link" data-toggle="modal" data-target="#selectModalResult">Potvrzení objednávky (modal)</button>
					<br>
					<button class="btn btn-link" data-toggle="modal" data-target="#selectModalInfo">Detail kalendáře (modal)</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="selectModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header bg-light">
				<div class="w-100">
					<div class="row justify-content-center">
						<div class="col-lg-7">
							<ul class="nav nav-steps nav-fill justify-content-center" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="pane-1-tab" data-toggle="tab" href="#pane-1" role="tab" aria-controls="pane-1" aria-selected="true">
										<span class="nav-step">
											<span class="nav-bull"></span>
										</span>
										Typ lekce
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pane-2-tab" data-toggle="tab" href="#pane-2" role="tab" aria-controls="pane-2" aria-selected="false">
										<span class="nav-step">
											<span class="nav-bull"></span>
										</span>
										Počet lekcí
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pane-3-tab" data-toggle="tab" href="#pane-3" role="tab" aria-controls="pane-3" aria-selected="false">
										<span class="nav-step">
											<span class="nav-bull"></span>
										</span>
										Kontaktní údaje
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pane-4-tab" data-toggle="tab" href="#pane-4" role="tab" aria-controls="pane-4" aria-selected="false">
										<span class="nav-step">
											<span class="nav-bull"></span>
										</span>
										Platba
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="tab-content">
					<div class="tab-pane active" id="pane-1" role="tabpanel" aria-labelledby="pane-1-tab">
						<div class="mb-4">
							<span class="badge badge-info-light text-info py-2 px-3">Vyberte typ lekce</span>
						</div>
						<div class="row mb-xl-5">
							<div class="col-lg-6">
								<a href="#" class="btn btn-block btn-outline-primary d-flex justify-content-between align-items-center py-2 mb-3">
									Longe
									<svg role="img" class="icon-arrow-right my-2">
										<use xlink:href="#icon-arrow-right"></use>
									</svg>
								</a>
								<a href="#" class="btn btn-block btn-outline-primary d-flex justify-content-between align-items-center py-2 mb-3">
									Jezdecké kurzy pro dospělé
									<svg role="img" class="icon-arrow-right my-2">
										<use xlink:href="#icon-arrow-right"></use>
									</svg>
								</a>
								<a href="#" class="btn btn-block btn-outline-primary d-flex justify-content-between align-items-center py-2 mb-3">
									Pony školička pro děti
									<svg role="img" class="icon-arrow-right my-2">
										<use xlink:href="#icon-arrow-right"></use>
									</svg>
								</a>
							</div>
						</div>
						<hr>
						<div class="d-flex justify-content-end">
							<button class="btn btn-primary d-flex align-items-center" type="button" data-toggle-id="#pane-2-tab">
								Další
								<svg role="img" class="icon-arrow-right ml-5">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</button>
						</div>
					</div>
					<div class="tab-pane" id="pane-2" role="tabpanel" aria-labelledby="pane-2-tab">
						<div class="mb-4">
							<span class="badge badge-info-light text-info py-2 px-3">Počet lekcí</span>
						</div>
						<br>
						<br>
						Počet lekcí
						<br>
						<br>
						<br>
						<hr>
						<div class="d-flex justify-content-end">
							<button class="btn btn-outline-dark mr-3" type="button" data-toggle-id="#pane-1-tab">
								<svg role="img" class="icon-arrow-left mr-2">
									<use xlink:href="#icon-arrow-left"></use>
								</svg>
								Zpět
							</button>
							<button class="btn btn-primary d-flex align-items-center" type="button" data-toggle-id="#pane-3-tab">
								Další
								<svg role="img" class="icon-arrow-right ml-5">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</button>
						</div>
					</div>
					<div class="tab-pane" id="pane-3" role="tabpanel" aria-labelledby="pane-3-tab">
						<div class="mb-4">
							<span class="badge badge-info-light text-info py-2 px-3">Vaše fakturační údaje</span>
						</div>
						<div class="d-flex justify-content-between bg-light lead p-3 mb-4">
							<div class="mr-3">
								<strong>Longe</strong> | Individuální lekce
							</div>
							<div>
								<strong>3 500</strong>Kč
							</div>
						</div>
						<div class="mb-4 h6">
							Getmančuková Anna
							<br>
							<br>
							Ulice 1234
							<br>
							<br>
							Praha 10
							<br>
							<br>
							E-mail: bgetm@lf1.cuni.cz
							<br>
							<br>
							Tel: 723024557
						</div>
						<div class="mb-4">
							<a href="#" class="btn btn-sm btn-outline-dark">Změnit údaje</a>
						</div>
						<hr>
						<div class="d-flex justify-content-end">
							<button class="btn btn-outline-dark mr-3" type="button" data-toggle-id="#pane-2-tab">
								<svg role="img" class="icon-arrow-left mr-2">
									<use xlink:href="#icon-arrow-left"></use>
								</svg>
								Zpět
							</button>
							<button class="btn btn-primary d-flex align-items-center" type="button" data-toggle-id="#pane-4-tab">
								Další
								<svg role="img" class="icon-arrow-right ml-5">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</button>
						</div>
					</div>
					<div class="tab-pane" id="pane-4" role="tabpanel" aria-labelledby="pane-4-tab">
						<div class="mb-4">
							<span class="badge badge-info-light text-info py-2 px-3">Platba</span>
						</div>
						<br>
						<br>
						Platba
						<br>
						<br>
						<br>
						<hr>
						<div class="d-flex justify-content-end">
							<button class="btn btn-outline-dark mr-3" type="button" data-toggle-id="#pane-3-tab">
								<svg role="img" class="icon-arrow-left mr-2">
									<use xlink:href="#icon-arrow-left"></use>
								</svg>
								Zpět
							</button>
							<button class="btn btn-primary d-flex align-items-center" type="button" data-toggle="modal" data-target="#selectModalResult" data-dismiss="modal">
								Zaplatit
								<svg role="img" class="icon-check ml-5">
									<use xlink:href="#icon-check"></use>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal fade" id="selectModalResult" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header bg-light">
				<div class="mt-2">
					<div class="h3 mb-3"><strong>Potvrzení objednávky č. 2016008</strong></div>
					<div>Datum objednávky: <strong>30. 11. 2016</strong> </div>
					<div>Číslo účtu: <strong>2700909230/2010</strong></div>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="mb-4">
					<span class="badge badge-info-light text-info py-2 px-3">Přihlášení zákazníci</span>
				</div>
				<table class="table table-sm mb-4">
					<tbody>
						<tr>
							<th class="bg-light small">Jméno</th>
							<td><strong>Křivohlavá Romana</strong></td>
						</tr>
						<tr>
							<th class="bg-light small">Adresa</th>
							<td><strong>Nad Okrouhlikem 17</strong></td>
						</tr>
						<tr>
							<th class="bg-light small">Město</th>
							<td><strong>Praha 8</strong></td>
						</tr>
						<tr>
							<th class="bg-light small">PSČ</th>
							<td><strong>18200</strong></td>
						</tr>
						<tr>
							<th class="bg-light small">IČ</th>
							<td><strong></strong></td>
						</tr>
						<tr>
							<th class="bg-light small">DIČ</th>
							<td><strong></strong></td>
						</tr>
						<tr>
							<th class="bg-light small">E-mail</th>
							<td><strong>Romule@volny.cz</strong></td>
						</tr>
						<tr>
							<th class="bg-light small">Telefon</th>
							<td><strong>737033976</strong></td>
						</tr>
					</tbody>
				</table>
				<table class="table table-sm mb-4">
					<thead>
						<tr>
							<th class="bg-light small">Lekce</th>
							<th class="bg-light small">Počet lekcí</th>
							<th class="bg-light small">Cena</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><strong>Skupinový</strong></td>
							<td><strong>10</strong></td>
							<td><strong>4 200Kč</strong></td>
						</tr>
					</tbody>
				</table>
				<table class="table table-sm mb-4">
					<thead>
						<tr>
							<th class="bg-light small" colspan="2">Historie odeslání příkazu k úhradě</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>30. 11. 17:57</td>
							<td>Věra Toušková</td>
						</tr>
					</tbody>
				</table>
				<hr>
				<div class="d-flex justify-content-end">
					<button class="btn btn-outline-dark mr-3" type="button" data-dismiss="modal">
						Zavřít okno
					</button>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal fade" id="selectModalInfo" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header bg-light">
				<div class="mt-2 w-100">
					<div class="h3 mb-3"><strong>Skupinový výcvik</strong></div>
					<div class="d-flex flex-wrap justify-content-between align-items-end">
						<div class="mb-3">
							<div><strong>Skupinový výcvik</strong></div>
							<div><strong>Středa 09:00 - 10:00</strong> &bull; Trénuje: <strong>Berná Martina</strong></div>
						</div>
						<div class="d-flex flex-wrap align-items-center mb-3">
							<div class="d-flex h3 mb-0 mr-1"><span class="badge badge-primary ml-3">0</span></div>
							<div class="d-flex flex-wrap align-items-center">
								<div class="dropdown">
									<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Přesunout</button>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</div>
								<div class="dropdown">
									<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zrušit</button>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</div>
								<div class="dropdown">
									<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Editovat</button>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="mb-2">
					<span class="badge badge-info-light text-info py-2 px-3">Přihlášení zákazníci</span>
				</div>
				<div class="d-flex flex-wrap justify-content-between mb-4 mb-lg-1">
					<div class="d-flex align-items-center h6 mb-0 py-1">
						<div class="mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div>
							Rybářová Jana
							<br><small>Pokročilá, +420 777 123</small>
						</div>
					</div>
					<div class="dropdown d-flex align-items-center">
						<button class="btn btn-white text-muted d-flex" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<svg role="img" class="icon-more h5 m-0">
								<use xlink:href="#icon-more"></use>
							</svg>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
					<div class="d-flex flex-wrap align-items-center ml-auto py-1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Přesunout</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zrušit</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Editovat</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex flex-wrap justify-content-between mb-4 mb-lg-1">
					<div class="d-flex align-items-center h6 mb-0 py-1">
						<div class="mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div>
							Rybářová Jana
							<br><small>Pokročilá, +420 777 123</small>
						</div>
					</div>
					<div class="dropdown d-flex align-items-center">
						<button class="btn btn-white text-muted d-flex" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<svg role="img" class="icon-more h5 m-0">
								<use xlink:href="#icon-more"></use>
							</svg>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
					<div class="d-flex flex-wrap align-items-center ml-auto py-1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Přesunout</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zrušit</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Editovat</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex flex-wrap justify-content-between mb-4 mb-lg-0">
					<div class="d-flex align-items-center h6 mb-0 py-1">
						<div class="mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div>
							Rybářová Jana
							<br><small>Pokročilá, +420 777 123</small>
						</div>
					</div>
					<div class="dropdown d-flex align-items-center">
						<button class="btn btn-white text-muted d-flex" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<svg role="img" class="icon-more h5 m-0">
								<use xlink:href="#icon-more"></use>
							</svg>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
					<div class="d-flex flex-wrap align-items-center ml-auto py-1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Přesunout</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zrušit</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Editovat</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="mb-4">
					<span class="badge badge-info-light text-info py-2 px-3">Studeni vhodní pro tento termín zákazníci</span>
				</div>
				<div class="d-flex flex-wrap justify-content-between mb-4 mb-lg-0">
					<div class="d-flex align-items-center h6 mb-0 py-1">
						<div class="mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div>
							Rybářová Jana
							<br><small>Pokročilá, +420 777 123</small>
						</div>
					</div>
					<div class="dropdown d-flex align-items-center">
						<button class="btn btn-white text-muted d-flex" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<svg role="img" class="icon-more h5 m-0">
								<use xlink:href="#icon-more"></use>
							</svg>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
					<div class="d-flex flex-wrap align-items-center ml-auto py-1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Přesunout</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zrušit</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Editovat</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex flex-wrap justify-content-between mb-4 mb-lg-0">
					<div class="d-flex align-items-center h6 mb-0 py-1">
						<div class="mr-3">
							<img class="img-fluid rounded-circle" src="../img/01.jpg" alt="">
						</div>
						<div>
							Rybářová Jana
							<br><small>Pokročilá, +420 777 123</small>
						</div>
					</div>
					<div class="dropdown d-flex align-items-center">
						<button class="btn btn-white text-muted d-flex" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<svg role="img" class="icon-more h5 m-0">
								<use xlink:href="#icon-more"></use>
							</svg>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
					<div class="d-flex flex-wrap align-items-center ml-auto py-1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Přesunout</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zrušit</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
							<div class="dropdown d-flex align-items-center ml-1">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Editovat</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<script>
	yesterday = new Date(Date.now() - 86400000);
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();
	if(dd<10){
			dd='0'+dd;
	} 
	if(mm<10){
			mm='0'+mm;
	} 
	var today = yyyy+'-'+mm+'-'+dd;
	calendarEvents = [
		{
			title: 'Časová dispozice',
			description: 'Jandová, Kurcová, Křivohlavá ...',
			popover: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id dolores, veritatis, fugiat impedit.',
			start: new Date(Date.now()),
			end: new Date(Date.now()),
			color: '#d918da',
		},
		{
			title: 'Individuál',
			description: 'Jandová, Kurcová, Křivohlavá ...',
			popover: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id dolores, veritatis, fugiat impedit.',
			start: new Date(Date.now() + 60000000),
			end: new Date(Date.now() + 70000000),
			color: '#da5018',
		},
		{
			title: 'Skupina',
			description: 'Jandová, Kurcová, Křivohlavá ...',
			popover: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id dolores, veritatis, fugiat impedit.',
			start: new Date(Date.now() + 71000000),
			end: new Date(Date.now() + 80000000),
			color: '#09639a',
		},
		{
			title: 'Časová dispozice',
			description: 'Jandová, Kurcová, Křivohlavá ...',
			popover: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id dolores, veritatis, fugiat impedit.',
			start: new Date(Date.now() + 81000000),
			end: new Date(Date.now() + 90000000),
			color: '#d918da',
		},
		{
			title: 'Skupina',
			description: 'Jandová, Kurcová, Křivohlavá ...',
			popover: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id dolores, veritatis, fugiat impedit.',
			start: new Date(Date.now() + 91000000),
			end: new Date(Date.now() + 100000000),
			color: '#008024',
		},
		{
			title: 'Individuál',
			description: 'Jandová, Kurcová, Křivohlavá ...',
			popover: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id dolores, veritatis, fugiat impedit.',
			start: new Date(Date.now() + 150000000),
			end: new Date(Date.now() + 160000000),
			color: '#da5018',
		},
		{
			title: 'Skupina',
			description: 'Jandová, Kurcová, Křivohlavá ...',
			popover: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id dolores, veritatis, fugiat impedit.',
			start: new Date(Date.now() + 161000000),
			end: new Date(Date.now() + 170000000),
			color: '#09639a',
		},
		{
			title: 'Časová dispozice',
			description: 'Jandová, Kurcová, Křivohlavá ...',
			popover: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id dolores, veritatis, fugiat impedit.',
			start: new Date(Date.now() + 171000000),
			end: new Date(Date.now() + 180000000),
			color: '#d918da',
		},
		{
			title: 'Individuál',
			description: 'Jandová, Kurcová, Křivohlavá ...',
			popover: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id dolores, veritatis, fugiat impedit.',
			start: new Date(Date.now() + 230000000),
			end: new Date(Date.now() + 240000000),
			color: '#da5018',
		},
		{
			title: 'Skupina',
			description: 'Jandová, Kurcová, Křivohlavá ...',
			popover: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id dolores, veritatis, fugiat impedit.',
			start: new Date(Date.now() + 241000000),
			end: new Date(Date.now() + 250000000),
			color: '#09639a',
		},
		{
			title: 'Individuál',
			description: 'Jandová, Kurcová, Křivohlavá ...',
			popover: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id dolores, veritatis, fugiat impedit.',
			start: new Date(Date.now() - 110000000),
			end: new Date(Date.now() - 101000000),
			color: '#da5018',
		},
		{
			title: 'Skupina',
			description: 'Jandová, Kurcová, Křivohlavá ...',
			popover: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id dolores, veritatis, fugiat impedit.',
			start: new Date(Date.now() - 100000000),
			end: new Date(Date.now() - 91000000),
			color: '#09639a',
		},
		{
			title: 'Skupina',
			description: 'Jandová, Kurcová, Křivohlavá ...',
			popover: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id dolores, veritatis, fugiat impedit.',
			start: new Date(Date.now() - 90000000),
			end: new Date(Date.now() - 90000000),
			color: '#008024'
		},
		{
			title: 'Skupina',
			description: 'Jandová, Kurcová, Křivohlavá ...',
			popover: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint id dolores, veritatis, fugiat impedit.',
			start: '2018-11-29',
			start: '2018-11-30',
			color: '#008024'
		}
	]
</script>

{% endblock %}