{% extends 'layout/layout.html' %}

{% set headerColor = 'true' %}

{% block content %}

{% include "part/header.html" %}

{% include "part/contact-header.html" %}

<div class="pt-2 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="custom-control custom-checkbox custom-checkbox-lg d-inline-block mb-1">
					<input type="checkbox" class="custom-control-input" id="exampleCheck" data-toggle="checkbox" data-group="checkboxExample">
					<label class="custom-control-label d-flex h6 py-3" for="exampleCheck">Vybrat vše</label>
				</div>
				<div class="list-group list-group-contacts mb-4">
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck1">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck1">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck2">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck2">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck3">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck3">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck4">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck4">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck5">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck5">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck6">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck6">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck7">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck7">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck8">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck8">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck9">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck9">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck10">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck10">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck11">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck11">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck12">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck12">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck13">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck13">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck14">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck14">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck15">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck15">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck16">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck16">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck17">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck17">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck18">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck18">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck19">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck19">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck20">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck20">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck21">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck21">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck22">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck22">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck23">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck23">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item p-0">
						<div class="d-flex justify-content-between">
							<div class="custom-control custom-checkbox custom-checkbox-lg ml-3">
								<input type="checkbox" class="custom-control-input" data-target="checkboxExample" id="exampleCheck24">
								<label class="custom-control-label d-flex align-items-center h6 py-2" for="exampleCheck24">
									<span class="mr-3">
										<img class="rounded-circle" src="../img/01.jpg" alt="" width="32" height="32">
									</span>
									<span>
										Rybářová Jana
										<br><small>Pokročilá, +420 777 123</small>
									</span>
								</label>
							</div>
							<div class="dropdown d-flex">
								<button class="btn btn-white text-muted d-flex w-100 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<svg role="img" class="icon-more h5 m-0">
										<use xlink:href="#icon-more"></use>
									</svg>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex flex-wrap justify-content-center">
					<a href="#" class="btn btn-white d-flex align-items-center mx-2">
						<svg role="img" class="icon-arrow-left mr-2">
							<use xlink:href="#icon-arrow-left"></use>
						</svg>
						<small>Předchozí</small>
					</a>
					<a href="#" class="btn btn-white d-flex align-items-center mx-2">
						<small>Další</small>
						<svg role="img" class="icon-arrow-right ml-2">
							<use xlink:href="#icon-arrow-right"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}