@mixin caret-down {
  border-left: $caret-width solid;
  border-bottom: $caret-width solid;
  vertical-align: $caret-width * 1.5;
}

@mixin caret-up {
  border-right: $caret-width solid;
  border-top: $caret-width solid;
  vertical-align: -($caret-width / 2);
}

@mixin caret-right {
  border-right: $caret-width solid;
  border-bottom: $caret-width solid;
}

@mixin caret-left {
  border-left: $caret-width solid;
  border-top: $caret-width solid;
}

@mixin caret($direction: down) {
  @if $enable-caret {
    &::after {
      display: inline-block;
      width: $caret-width * 4;
      height: $caret-width * 4;
      margin-left: $caret-width * 4;
      transform: rotate(-45deg);
      content: "";
      @if $direction == down {
        @include caret-down;
      } @else if $direction == up {
        @include caret-up;
      } @else if $direction == right {
        @include caret-right;
      }
    }

    @if $direction == left {
      &::after {
        display: none;
      }

      &::before {
        display: inline-block;
        width: 0;
        height: 0;
        margin-right: $caret-width * .85;
        vertical-align: $caret-width * .85;
        content: "";
        @include caret-left;
      }
    }

    &:empty::after {
      margin-left: 0;
    }
  }
}
