<nav class="navbar navbar-expand-lg navbar-dark{% if headerColor == 'true' %} bg-info{% else %} bg-primary{% endif %} py-0">
	<div class="container align-items-center">
		<a class="navbar-brand my-2" href="#">
			<svg role="img" class="icon-logo">
				<use xlink:href="#icon-logo"></use>
			</svg>
		</a>

		<!-- start mobile -->
		<ul class="nav nav-header d-lg-none mx-auto my-2">
			<li class="nav-item active">
				<a class="nav-link" href="#">Kalendář</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					Seznam
					<span class="badge badge-pill badge-yellow">5</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					Zprávy
					<span class="badge badge-pill badge-yellow">3</span>
				</a>
			</li>
		</ul>
		<!-- end mobile -->

		<button class="navbar-toggler border-0 my-3 ml-auto p-0" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Hlavní menu">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse py-4 py-lg-0" id="mainmenu">
			<ul class="navbar-nav lead ml-xl-4 pl-xl-3">
				<li class="nav-item active">
					<a class="nav-link" href="#">Kalendář</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						Zprávy
						<span class="badge badge-pill badge-yellow">5</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Váš účet</a>
				</li>
			</ul>
			<hr class="d-lg-none">
			<ul class="navbar-nav lead ml-auto">
				<li class="nav-item dropdown">
					<a class="nav-link d-flex align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="d-lg-none mr-2">Upozornění</span>
						<svg role="img" class="icon-bell h4 m-0">
							<use xlink:href="#icon-bell"></use>
						</svg>
						<span class="badge badge-pill badge-yellow">5</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item align-items-center d-flex" href="#">
							<div class="small">
								<strong>Objednávka nového kurzu</strong>
								<div class="text-muted small">12.12. 2016 &bull; Jan Novák</div>
							</div>
							<div class="ml-3 text-muted lead">
								<svg role="img" class="icon-arrow-right">
								  <use xlink:href="#icon-arrow-right"></use>
								</svg>
							</div>
						</a>
						<a class="dropdown-item align-items-center d-flex" href="#">
							<div class="small">
								<strong>Objednávka nového kurzu</strong>
								<div class="text-muted small">12.12. 2016 &bull; Jan Novák</div>
							</div>
							<div class="ml-3 text-muted lead">
								<svg role="img" class="icon-arrow-right">
								  <use xlink:href="#icon-arrow-right"></use>
								</svg>
							</div>
						</a>
						<a class="dropdown-item align-items-center d-flex" href="#">
							<div class="small">
								<strong>Objednávka nového kurzu</strong>
								<div class="text-muted small">12.12. 2016 &bull; Jan Novák</div>
							</div>
							<div class="ml-3 text-muted lead">
								<svg role="img" class="icon-arrow-right">
								  <use xlink:href="#icon-arrow-right"></use>
								</svg>
							</div>
						</a>
						<div class="px-3 py-2">
							<a class="btn btn-sm btn-info-light btn-block" href="#">
								Zobrazit vše
							</a>
						</div>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Marek Toušek</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>