// Color system
$gray-100: #f8f5f6 !default;
$gray-600: #717171 !default;
$gray-800: #373737 !default;

$black:    #000 !default;
$white:    #fff !default;

$blue:    #09639a !default;
$purple:  #d918da !default;
$red:     #cd2122 !default;
$orange:  #da5018 !default;
$green:   #008024 !default;
$yellow:  #fbd249 !default;

$lightgreen:  #c2fdd2 !default;
$lightblue:   #c0e5fc !default;
$lightorange: #fed5c4 !default;
$lightpurple: #fbc1fb !default;

$primary:       $red !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $blue !default;
$warning:       $orange !default;
$danger:        $purple !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$successlight:  $lightgreen !default;
$infolight:     $lightblue !default;
$warninglight:  $lightorange !default;
$dangerlight:   $lightpurple !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":          $primary,
    "secondary":        $secondary,
    "success":          $success,
    "success-light":    $successlight,
    "info":             $info,
    "info-light":       $infolight,
    "warning":          $warning,
    "warning-light":    $warninglight,
    "danger":           $danger,
    "danger-light":     $dangerlight,
    "black":            $black,
    "white":            $white,
    "yellow":           $yellow,
    "light":            $light,
    "dark":             $dark
  ),
  $theme-colors
);



// Spacing
$spacer: 1rem !default;



// Fonts
$font-family-sans-serif:      "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-size-base:              .875rem !default;
$font-size-lg:                ($font-size-base * 1.43) !default;
$font-size-sm:                ($font-size-base * .857) !default;

$font-weight-light:           400 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$lead-font-size:              ($font-size-base * 1.15) !default;
$lead-font-weight:            inherit !default;
$small-font-size:             86% !default;




// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
) !default;

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1294px
) !default;



// Body
$body-bg:                   $gray-100 !default;



// Components
$border-color:                $gray-800 !default;

$border-radius:               .15rem !default;
$border-radius-lg:            .25rem !default;
$border-radius-sm:            .15rem !default;

$caret-width:                 .12em !default;


// Buttons + Forms
$input-btn-padding-y:         .275rem !default;
$input-btn-padding-x:         .5rem !default;
$input-btn-padding-x-sm:      .75rem !default;



// Badges
$badge-border-radius:               0 !default;

$badge-pill-padding-x:              .5em !default;



// Navs
$nav-tabs-border-color:             $gray-800 !default;
$nav-tabs-link-hover-border-color:  transparent !default;
$nav-tabs-link-active-color:        $white !default;
$nav-tabs-link-active-bg:           $gray-800 !default;
$nav-tabs-link-active-border-color: $gray-800 !default;



// Navbar
$navbar-padding-y:                  ($spacer / 2) !default;
$navbar-brand-font-size:            ($font-size-base * 2.75) !default;
$navbar-brand-height:               auto !default;
$navbar-brand-padding-y:            0 !default;

$navbar-nav-link-padding-x:         .8rem !default;

$navbar-dark-color:                 $white !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;



// Forms
$input-border-color:                    $gray-800 !default;


// Popovers
$popover-border-color:              $dark !default;

$popover-header-bg:                 $dark !default;
$popover-header-color:              $white !default;
$popover-header-padding-y:          .25rem !default;


// Close
$close-font-size:                   $font-size-base * 1.5 !default;
$close-font-weight:                 $font-weight-normal !default;
$close-color:                       $black !default;
$close-text-shadow:                 none !default;


// Modals
$modal-lg:                          780px !default;